<p id="notice"><%= notice %></p>

<h1>Listing Students</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Middle name</th>
      <th>Last name</th>
      <th>Date of birth</th>
      <th>Age</th>
      <th>Admission date</th>
      <th>Admission number</th>
      <th>Category</th>
      <th>Cast</th>
      <th>Relegion</th>
      <th>Blood group</th>
      <th>Address</th>
      <th>Profile pic</th>
      <th>Contact</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.first_name %></td>
        <td><%= student.middle_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.date_of_birth %></td>
        <td><%= student.age %></td>
        <td><%= student.admission_date %></td>
        <td><%= student.admission_number %></td>
        <td><%= student.category %></td>
        <td><%= student.cast %></td>
        <td><%= student.relegion %></td>
        <td><%= student.blood_group %></td>
        <td><%= student.address %></td>
        <td><%= student.profile_pic %></td>
        <td><%= student.contact %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
